- @nav_index = 1

:markdown
  # Hallo aus Köln

  RailsCamp ist eine kostenlose Veranstaltung von und für die RoR-Community. Das 4. RailsCamp Germany wird am 03./04. Juli 2010 in Köln stattfinden. 
  
  Das ist nur eine Beispiel-Website.