- @link_text = 'Sessions'
- @nav_index = 1

%h1 Programmablauf

%table
  %tr
    %td 10:00 bis 11:00
    %td= link 'Was bringt Rails 3?', 'sessions/rails3'
  %tr
    %td 11:00 bis 11:30
    %td Pause
  %tr
    %td 11:30 bis 12:30
    %td= link 'Statische Websites mit StaticMatic', 'sessions/staticmatic'
  %tr
    %td 12:30 bis 13:00
    %td Pause
  %tr
    %td 13:00 bis 14:00
    %td Verlosung
    
  %tr
    %td ab 14:00
    %td= link 'BBQ', 'bbq'