- @link_text = 'Rails 3'
- @nav_index = 1

:markdown
  # Ruby on Rails 3

  Rails 3.0 is ponies and rainbows! It’s going to cook you dinner and fold your laundry. You’re going to wonder how life was ever possible before it arrived. It’s the Best Version of Rails We’ve Ever Done!

  But seriously now, it’s really good stuff. There are all the good ideas brought over from when the Merb team joined the party and brought a focus on framework agnosticism, slimmer and faster internals, and a handful of tasty APIs. If you’re coming to Rails 3.0 from Merb 1.x, you should recognize lots. If you’re coming from Rails 2.x, you’re going to love it too.

  Even if you don’t give a hoot about any of our internal cleanups, Rails 3.0 is going to delight. We have a bunch of new features and improved APIs. It’s never been a better time to be a Rails developer. Some of the highlights are:

  * Brand new router with an emphasis on RESTful declarations
  * New Action Mailer API modeled after Action Controller (now without the agonizing pain of sending multipart messages!)
  * New Active Record chainable query language built on top of relational algebra
  * Unobtrusive JavaScript helpers with drivers for Prototype, jQuery, and more coming (end of inline JS)
  * Explicit dependency management with Bundler

  On top of all that, we’ve tried our best to deprecate the old APIs with nice warnings. That means that you can move your existing application to Rails 3 without immediately rewriting all your old code to the latest best practices.

  These release notes cover the major upgrades, but don’t include every little bug fix and change. Rails 3.0 consists of almost 4,000 commits by more than 250 authors! If you want to see everything, check out the list of commits in the main Rails repository on GitHub.